.idea/
.git/
.hg
.hgignore
env/
pysp/
code-img/
__pycache__/
*/__pycache__/
*.pyc
*.log
*.rdb
logs/
pgdata/
sites/init_data.py
static/
whoosh_index/
celerybeat-schedule
email.txt
fabfile.py
product.txt
*.db
*.war
